{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добро пожаловать, {{ current_user.username }}!</h1>
    <p>Это ваша личная страница.</p>

    <div class="mt-4">
        <a href="{{ url_for('create_article') }}" class="btn btn-primary">Создать статью</a>
        <a href="{{ url_for('posts') }}" class="btn btn-secondary">Просмотреть статьи</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
    </div>
</div>
{% endblock %}
